$def with (numero1, numero2, resultado)
<!DOCTYPE html>
<html>
  <head>
    <title>Calculadora</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="ISO-8859-1">
  </head>
  <body>
    <h1>Calculadora</h1>

    <form method="POST">
      <label>Número 1:</label><br>
      <input type="number" name="numero1" placeholder="Número 1" value=$numero1><br>

      <label>Número 2:</label><br>
      <input type="number" name="numero2" placeholder="Número 2" value=$numero2><br>

      <label>Resultado:</label><br>
      <input type="number" name="resultado" placeholder="RESULTADO" value=$resultado><br>

      <button name="operacion" id="operacion" value="sumar">Sumar</button>
      <button name="operacion" id="operacion" value="raiz">Raiz</button><br>
      <button name="operacion" id="operacion" value="restar">Restar</button>
      <button name="operacion" id="operacion" value="potencia">Potencia</button><br>
      <button name="operacion" id="operacion" value="multiplicar">Multiplicar</button>
      <button name="operacion" id="operacion" value="modulo">Módulo</button><br>
      <button name="operacion" id="operacion" value="dividir"> Dividir </button>
      <button name="operacion" id="operacion" value="limpiar">Limpiar</button>

    </form>

    <a href="/">Index</a>
  </body>
</html>


<style>

  body{
    background-color:cornsilk;
    font-family: fantasy;
    padding: 30px;
  }

  h1{
    text-align: center;
    color: brown;
    font-size: 1.5rem;
  }

</style>