<!DOCTYPE html>
<html>

    <head>

        <title>Calculadora</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="ISO-8859-1">

    </head>

    <body>
        
        <h1>Calculadora</h1>


        <form method="POST">

            <label>Número 1:</label><br>
            <input type="number" placeholder="Emmatonto" name="numero1" id="numero1"><br>
                
            <label>Número 2:</label><br>
            <input type="number" placeholder="Poveguapo" name="numero2" id="numero2"><br>
                
            <label>Resultado:</label><br>
            <input type="number" placeholder="RESULTADO" name="resultado" id="resultado"><br>

            <button name="suma" id="suma">Sumar</button><br>
        </form>

    

        <a href="/">Index</a>
    </body>


</html>

