<!DOCTYPE html>
<html>
    <head>

        <title>Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="ISO-8859-1">

    </head>

    <body>
        
        <h1>Index</h1>
        <img src="static/imagenes/calculadora2.jpg" alt="" style="width: 150px; height: 300px;">
        <img src="static/imagenes/pato2.JPG" alt="" width="300px" weight="300px">
        <a href="/calculadora">Ingresa a la calculadora.</a>

    </body>

</html>

<style>

body{

    margin: 10px;
    padding: 20px;

}

h1{
    margin: 10px;
    padding: 10px
}

img{

    margin: 10px;
    padding: 10px
}

a{

    margin: 10px;
    padding: 10px

}



</style>