<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
  </head>

  <body>
    <h1>Index</h1>
    <img src="static/imagenes/calculadora2.jpg" alt="" weigth="1720px" height="720px">
    <img src="static/imagenes/pato2.JPG" alt="" weigth="1720px" height="720px"> <br>
    <a href="/calculadora">Ingresa a la calculadora</a>
  </body>

  <style>
    body{ margin: 10px; padding: 20px; }
    h1{ margin: 10px; padding: 10px; }
    img{ margin: 10px; padding: 10px; }
    a{ margin: 10px; padding: 10px; }
  </style>
</html>